pre {
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
    text-align: justify;
    color: #000000;
    background-color: #eeeeee;
    box-shadow: inset 0 0 10px #aaaaaa;
}

code {
    font-family: 'Noto Serif';
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
    text-align: justify;
}

blockquote {
    padding: 10px;
    margin: 5px;
    border: 2px solid #993300;
    border-radius: 5px;
    text-align: justify;
}

table {
    padding: 10px;
    border: 2px solid #993300;
    border-collapse: collapse;
    text-align: center;
}

th,
td {
    padding: 10px;
    border: 2px solid #993300;
    border-collapse: collapse;
    text-align: center;
}

h2 {
    padding: 20px;
    margin-top: 5px;
    border-radius: 5px;
    color: #ffffff;
    background-color: #993300;
}

.hero-1 {
    padding: 150px;
    margin-top: 0px;
    border-radius: 5px;
    color: #ffffff;
    background-image: radial-gradient(circle, #dd3300, #bb3300, #993300);
}

* {
    box-sizing: border-box;
}

.button {
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid #993300;
    color: #000000;
    background-color: #ff9900;
    font-family: 'Noto Serif';
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.button:hover {
    color: #ff9900;
    background-color: #000000;
}

.box-1 {
    padding: 10px;
    margin: 5px;
    border: 2px solid #993300;
    border-radius: 5px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

body {
    font-family: 'Noto Serif';
    font-size: 18px;
}

.header {
    padding: 20px;
    border-radius: 5px;
    border: 2px solid #993300;
    color: white;
    background: #ffffff;
    text-align: center;
}

a {
    color: #993300;
    text-decoration: none;
    font-family: 'Noto Serif';
    font-size: 18px;
    font-weight: bold;
}

.navbar {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 2px solid #993300;
    background-color: #ff9900;
    overflow: hidden;
}

.navbar a {
    padding: 20px 20px;
    color: #993300;
    text-align: center;
    text-decoration: none;
    display: block;
    float: left;
}

.navbar a.right {
    float: right;
}

/* Change color on hover */
.navbar a:hover {
    background-color: #993300;
    color: #ff9900;
}

/* Column container */
.row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffffff;
    -ms-flex: 30%;
    /* IE10 */
    flex: 30%;
}

/* Main column */
.main {
    padding-top: 10px;
    background-color: #ffffff;
    -ms-flex: 70%;
    /* IE10 */
    flex: 70%;
    flex-shrink: 0;
}

img {
    padding: 4px;
    border-radius: 5px;
    border: 2px solid #993300;
    background-color: #ffffff;
    width: 100%;
    height: auto;
}

.footer {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    text-align: center;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}