{% extends "index.html" %}

{% block description %}All posts which refer to category {{ category }}{% endblock %}
{% block title %}{{ category }} — {{ SITENAME }}{% endblock %}
{% block content %}
<h1 class="w3-container w3-round w3-card">Category {{category}}</h1>
<table class="table">
    <tbody>
        {% for article in articles %}
        <tr>
            <td>{{ article.date.strftime("%d %b %Y") }}</td>
            <td><a href='{{ SITEURL }}/{{ article.url }}'>{{ article.title }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}