{% extends "base.html" %}

{%- block content %}
{% for article in articles_page.object_list %}
<article class="post">
  <a href="{{ article.url }}">
    <div class="w3-container w3-card w3-white w3-round w3-margin">
      <h3>{{ article.title }}</h3>
      <hr>
      <p>{{ article.summary }}</p>
    </div>
  </a>
</article>
{% endfor %}
{% if DEFAULT_PAGINATION %}
  {% set first_page = articles_paginator.page(1) %}
  {% set last_page = articles_paginator.page(articles_paginator.num_pages) %}
  
  <br>
  <div class="w3-bar w3-border w3-round">
    {% if articles_page.has_previous() %}
      <a href="{{ SITEURL }}/{{ articles_previous_page.url }}" class="w3-bar-item w3-button">&lang;</a>
    {% endif %}
    
    {%- for page_num in range(1, articles_paginator.num_pages + 1) %}
      <a href="{{ SITEURL }}/{{ articles_paginator.page(page_num).url }}" {% if articles_page.number == page_num %} aria-current="page" {% endif %} class="w3-bar-item w3-button">{{ page_num }}</a>
    {%- endfor %}
    
    {% if articles_page.has_next() %}
      <a href="{{ SITEURL }}/{{ articles_next_page.url }}" class="w3-bar-item w3-button">&rang;</a>
    {% endif %}
  </div>
  <br>
{% endif %}
{% endblock content -%}